<li id="comment-<%= comment._id %>">
    <div class="comment-card">
        <div class="comment-title">
            <p>
                <%= comment.user.name %>
            </p>
            <%if(locals.user && locals.user.id==comment.user.id){%>
                <a href="/comments/destroy/<%= comment._id %>">
                    <p>X</p>
                </a>
            <%}%>
        </div>
        <div class="comment-content">
            <p>
                <%= comment.content %>
            </p>
        </div>
    </div> 
</li>