<footer>
    <div class="container">
        <p>
            Git repository link of 
            <a href="https://github.com/suriyaaap13/ReachMe">ReachMe</a>
            feel free to contribute.
        </p>
        <p>
            Desktop version, mobile version not avaliable
        </p>
        <p>
            A Solid Social Networking platform
        </p>
        <p>
            ReachMe &copy; 2022 
        </p>
    </div>
</footer>

<%- script %>
</body>
</html>