<html>
    <head>
        <title>
            <%= title %>
        </title>
        <%- style %>
    </head>
    <body>
        <header>
            <h1>ReachMe</h1>

            <ul>

                <% if(locals.user){ %>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/users/profile/<%= user._id %>">
                            <%= user.name %>
                        </a>
                    </li>
                    <li>
                        <a href="/users/logout">
                            logout
                        </a>
                    </li>
                <% }else{ %>
                    <li>
                        <a href="/users/login">
                            Login
                        </a>
                    </li>
                    <li>
                        <a href="/users/register">
                            Register
                        </a>
                    </li>
                <% } %>
            </ul>

        </header>