<link rel="stylesheet" href="/css/home.css">
<h1>
    ReachMe/<%= title %>  
</h1>
<%if(locals.user){%>

    <div class="post-form">
        <form action="/posts/create" id="new-post-form" method="post">
            <textarea name="content" id="new-post-content" cols="30" rows="5" placeholder="What's in your mind!!"></textarea>
            <button type="submit">Post</button>
        </form>
    </div>
    

    <div class="post-list-items">
        <ul>
            <p>
                <%for(let i of post){%>
                    <li>
                        <h5>
                            <%= i.user.name %>
                        </h5>
                        <%= i.content %>
                    </li>
                   
                    <form action="/comments/create" id="add-comment-form" method="post">
                        <input type="text" name="content" placeholder="Add a Comment...">
                        <input type="hidden" name="post" value= <%= i._id %> >
                        <button type="submit" >Send</button>
                    </form>  
                <%}%>
            </p>
            
        </ul>
        
    </div>
    

<%}%>
