<h1><%= title %></h1>
<form action="/users/create-session" method="post">
    <input type="email" name = "email" placeholder="abc@xyz.com" required>
    <input type="password" name = "password" placeholder="Password" required>
    <button type="submit">Login</button>
</form>