*{
    #form-page{
        height: 100%;
        width: 100%;
        padding: 100px 420px;
        .form-box{
            width: 40%;
            height: 40%;
            border: 1px solid black;
            border-radius: 7px;
            .caption-title{
                padding: 8px;
                border-bottom: 1px solid black;
                height: 27px;
                p{
                    font-family: 'Roboto', sans-serif;
                    font-size: 20px;
                    color: black;
                }
            }
            #form-container{
                padding: 20px;
                form{
                    padding: 30px 70px;
                    .input-data{
                        display: flex;
                        p{
                            font-family: 'Roboto', sans-serif;
                            font-size: 20px;
                            width: 160px;
                        }
                        input{
                            display: block;
                            height: 32px;
                            padding: 3px;
                            width: 250px;
                            font-size: 16px;
                            margin-bottom: 23px;
                            outline: none;
                        }
                    }
                    .move-btn{
                        padding: 7px 130px;
                        button{
                            padding: 3px;
                            font-size: 16px;
                            height: 30px;
                            width: 90px;
                        }
                    }
                }
            }
            
        }
        
    }
}