*{
    margin: 0;
    padding: 0;
    header{
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
        h1{
            font-family: sans-serif;
        }
        ul{
            display: flex;
            list-style: none;
            padding: 10px 0;
            li a{
                font-family: sans-serif;
                font-size: 17px;
                padding-right: 20px;
            }
            

        }
    }
    #layout-main{
        #home-container{
            display: flex;
            #user-feed{
                width: 80%;
            }
            #user-friends{
                width: 20%;
                height: 100%;
                h1{

                }
                #friends-container{
                    ul{
                        list-style: none;
                        li{
                            a{
                                font-family: sans-serif;
                                font-size: 16px;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
    footer{

    }

}




