*{
    margin: 0;
    padding: 0;
    *::-webkit-scrollbar{
        display: none;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 16px 32px;
        border-bottom: 1px solid black;
        box-shadow: 0px 0.25px 7px;
        h1{
            font-family: sans-serif;
        }
        ul{
            display: flex;
            list-style: none;
            padding: 10px 0;
            li a{
                color: blue;
                font-family: 'Roboto', sans-serif;
                font-size: 17px;
                padding-right: 20px;
            }
        }
    }
    footer{
        width: 100%;
        border-top: 1px solid black;
        text-align: center;
        .container{
            padding: 32px;
            p{
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
            }
        }
    }

}




