* #layout-main {
  height: 100%;
}

* #layout-main #home-container {
  display: flex;
  padding: 16px 32px;
}

* #layout-main #home-container #user-feed {
  width: 80%;
}

* #layout-main #home-container #user-feed #post-form {
  width: 300px;
  box-shadow: 0px 0px 5px black;
  position: relative;
}

* #layout-main #home-container #user-feed #post-form form {
  box-shadow: 0px 1px black;
}

* #layout-main #home-container #user-feed #post-form form textarea {
  outline: none;
  padding: 7px;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 120px;
  border-radius: 3px;
}

* #layout-main #home-container #user-feed #post-form form button {
  position: absolute;
  height: 25px;
  width: 40px;
  padding: 3px;
  right: 3px;
  font-family: sans-serif;
  bottom: 3px;
}

* #layout-main #home-container #user-feed #post-list-items {
  padding: 16px 0px 0px 0px;
}

* #layout-main #home-container #user-feed #post-list-items ul {
  list-style-type: none;
}

* #layout-main #home-container #user-feed #post-list-items ul li {
  padding: 10px 0px;
}

* #layout-main #home-container #user-friends {
  width: 20%;
  border-left: 1px solid lightgray;
  padding: 16px 0px;
  text-align: center;
}

* #layout-main #home-container #user-friends h1 {
  padding: 0px 0px 16px 0px;
  border-bottom: 1px solid black;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

* #layout-main #home-container #user-friends #friends-container ul li {
  padding: 16px 0px;
  border-bottom: 1px solid lightgray;
}

* #layout-main #home-container #user-friends #friends-container ul li a {
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.post-card {
  width: 400px;
}

.post-card-title {
  display: flex;
  justify-content: space-between;
}

.post-card-title p {
  font-size: 1.1rem;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.post-content {
  font-size: 1.3rem;
  padding: 5px 0px;
  font-family: 'Roboto', sans-serif;
}

#add-comment-form input {
  height: 1.4rem;
  padding: 5px;
  font-size: 1rem;
}

#add-comment-form button {
  height: 1.4rem;
  font-size: 1rem;
  width: 4rem;
}

.comment-card {
  width: 300px;
  padding: 0px 5px;
}

.comment-title {
  display: flex;
  justify-content: space-between;
}

.comment-title p {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  padding: 2px 10px;
  font-weight: 500;
}

.comment-content p {
  font-size: 0.9rem;
  font-family: 'Roboto', sans-serif;
  padding: 2px 10px;
}
