* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

* *::-webkit-scrollbar {
  display: none;
}

* header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 1px solid black;
  box-shadow: 0px 0.25px 7px;
}

* header h1 {
  font-family: sans-serif;
}

* header ul {
  display: flex;
  list-style: none;
  padding: 10px 0;
}

* header ul li a {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  padding-right: 20px;
}

* footer {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
}

* footer .container {
  padding: 32px;
}

* footer .container p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
