* {
  margin: 0;
  padding: 0;
  overflow: scroll;
}

* *::-webkit-scrollbar {
  display: none;
}

* header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid black;
  box-shadow: 0px 0.25px 7px;
}

* header h1 {
  font-family: sans-serif;
}

* header ul {
  display: flex;
  list-style: none;
  padding: 0.625rem 0;
}

* header ul li a {
  color: blue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.06rem;
  padding-right: 1.25rem;
}

* footer {
  width: 100%;
  border-top: 1px solid black;
  text-align: center;
}

* footer .container {
  padding: 2rem;
}

* footer .container p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.125rem;
}
